# Indonesian Movies

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Import Library dan Dataset

In [24]:
# Import library yang digunakan
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Import dataset (csv)
movies = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/indonesian_movies.csv')

### Explore the Data

#### Melihat struktur dataframe

In [3]:
# Menampilkan jumlah baris dan kolom pada dataset === .shape
movies.shape

(1272, 11)

In [4]:
# Menampilkan kolom apa saja yang ada pada dataset === .columns
movies.columns

Index(['title', 'year', 'description', 'genre', 'rating', 'users_rating',
       'votes', 'languages', 'directors', 'actors', 'runtime'],
      dtype='object')

In [7]:
# Menampilkan informasi data seperti tipe data, jumlah kolom, jumlah baris pada setiap kolom dan memory usage === .info()
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1272 entries, 0 to 1271
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1272 non-null   object
 1   year          1272 non-null   int64
 2   description   840 non-null    object
 3   genre         1236 non-null   object
 4   rating        376 non-null    object
 5   users_rating  1272 non-null   float64
 6   votes         1272 non-null   object
 7   languages     1272 non-null   object
 8   directors     1265 non-null   object
 9   actors        1272 non-null   object
 10  runtime       869 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 109.4+ KB

In [8]:
# Mengecek tipe data dari sebuah kolom === type()
type(movies['title'])

pandas.core.series.Series

#### Melihat preview data

In [9]:
# Menampilkan 5 baris pertama === .head()
movies.head()

,title,year,description,genre,rating,users_rating,votes,languages,directors,actors,runtime
0,#FriendButMarried 2,2020,Ayudia (Mawar De Jongh) is not satisfied enoug...,Biography,13+,6.5,120,Indonesian,Rako Prijanto,"['Adipati Dolken', 'Mawar Eva de Jongh', 'Vonn...",100 min
1,4 Mantan,2020,"Sara, Airin, Rachel, and Amara were accidental...",Thriller,17+,6.4,8,Indonesian,Hanny Saputra,"['Ranty Maria', 'Jeff Smith', 'Melanie Berentz...",80 min
2,Aku Tahu Kapan Kamu Mati,2020,"After apparent death, Siena is able to see sig...",Horror,13+,5.4,17,Indonesian,Hadrah Daeng Ratu,"['Natasha Wilona', 'Ria Ricis', 'Al Ghazali', ...",92 min
3,Anak Garuda,2020,"Good Morning Indonesia, a school for poor orph...",Adventure,13+,9.1,27,Indonesian,Faozan Rizal,"['Tissa Biani Azzahra', 'Violla Georgie', 'Aji...",129 min
4,Dignitate,2020,Alfi (Al Ghazali) meets Alana (Caitlin Halderm...,Drama,17+,7.6,33,Indonesian,Fajar Nugros,"['Al Ghazali', 'Caitlin Halderman', 'Giorgino ...",109 min

In [10]:
# Menampilkan 5 baris terakhir === .tail()
movies.tail()

,title,year,description,genre,rating,users_rating,votes,languages,directors,actors,runtime
1267,The Tiger from Tjampa,1953,"Set in the 1930s, and narrated like a ballad f...",Drama,NaN,6.4,30,Indonesian,D. Djajakusuma,"['Wahid Chan', 'Bambang Hermanto', 'R.D. Ismai...",97 min
1268,Enam Djam di Djogja,1951,Depicting the celebrated recapture of the town...,Drama,NaN,6.3,9,Indonesian,Usmar Ismail,"['R.D. Ismail', 'Del Juzar', 'Aedy Moward', 'A...",116 min
1269,Darah dan Doa,1950,It tells the story of an Indonesian revolution...,Drama,NaN,6.6,27,Indonesian,Usmar Ismail,"['Ella Bergen', 'Faridah', 'R.D. Ismail', 'Del...",150 min
1270,Resia Boroboedoer,1928,NaN,Adventure,NaN,7.0,8,Indonesian,NaN,"['Olive Young', nan, nan, nan, nan, nan, nan, ...",NaN
1271,Loetoeng Kasaroeng,1926,NaN,Fantasy,NaN,7.2,11,Indonesian,L. Heuveldorp,"['Martoana', 'Oemar', nan, nan, nan, nan, nan,...",60 min

#### Statistik Deskriptif

`.describe()` menampilkan nilai statistik deskriptif pada sebuah dataset. Secara default, `.describe()` hanya menghitung untuk kolom yang bertipe data integer. Maka dari itu, gunakan parameter:
*   `include = object` untuk menghitung kolom bertipe data kategorikal (string)
*   `include = all` untuk menghitung keseluruhan kolom (baik data kategorikal maupun integer)

In [11]:
movies.describe()

              year  users_rating
count  1272.000000   1272.000000
mean   2007.023585      6.144418
std      12.968560      1.389315
min    1926.000000      1.200000
25%    2006.000000      5.300000
50%    2011.000000      6.400000
75%    2016.000000      7.100000
max    2020.000000      9.400000

In [12]:
movies.describe(include='object')

,title,description,genre,rating,votes,languages,directors,actors,runtime
count,1272,840,1236,376,1272,1272,1265,1272,869
unique,1262,840,15,11,312,8,377,1266,85
top,Jomblo,Ayudia (Mawar De Jongh) is not satisfied enoug...,Drama,13+,6,Indonesian,Nayato Fio Nuala,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",90 min
freq,2,1,456,161,58,1241,61,4,109

In [13]:
movies.describe(include='all')

,title,year,description,genre,rating,users_rating,votes,languages,directors,actors,runtime
count,1272,1272.000000,840,1236,376,1272.000000,1272,1272,1265,1272,869
unique,1262,NaN,840,15,11,NaN,312,8,377,1266,85
top,Jomblo,NaN,Ayudia (Mawar De Jongh) is not satisfied enoug...,Drama,13+,NaN,6,Indonesian,Nayato Fio Nuala,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",90 min
freq,2,NaN,1,456,161,NaN,58,1241,61,4,109
mean,NaN,2007.023585,NaN,NaN,NaN,6.144418,NaN,NaN,NaN,NaN,NaN
std,NaN,12.968560,NaN,NaN,NaN,1.389315,NaN,NaN,NaN,NaN,NaN
min,NaN,1926.000000,NaN,NaN,NaN,1.200000,NaN,NaN,NaN,NaN,NaN
25%,NaN,2006.000000,NaN,NaN,NaN,5.300000,NaN,NaN,NaN,NaN,NaN
50%,NaN,2011.000000,NaN,NaN,NaN,6.400000,NaN,NaN,NaN,NaN,NaN
75%,NaN,2016.000000,NaN,NaN,NaN,7.100000,NaN,NaN,NaN,NaN,NaN
max,NaN,2020.000000,NaN,NaN,NaN,9.400000,NaN,NaN,NaN,NaN,NaN

Untuk mencari rataan, median atau modus secara terpisah dari fungsi `.describe()`, dapat menggunakan fungsi:

*   Rataan (mean): `.mean()`
*   median: `.median()`
*   modus: `.mode()`

In [15]:
movies['year'].mean()

2007.0235849056603

In [16]:
movies['users_rating'].median()

6.4

In [17]:
movies['year'].mode()

0    2019
dtype: int64

### Cleaning Data

In [18]:
# Mengecek missing values
movies.isna()

,title,year,description,genre,rating,users_rating,votes,languages,directors,actors,runtime
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1267,False,False,False,False,True,False,False,False,False,False,False
1268,False,False,False,False,True,False,False,False,False,False,False
1269,False,False,False,False,True,False,False,False,False,False,False
1270,False,False,True,False,True,False,False,False,True,False,True
1271,False,False,True,False,True,False,False,False,False,False,False

In [19]:
# Mengecek missing values (dijumlahkan)
movies.isna().sum()

title             0
year              0
description     432
genre            36
rating          896
users_rating      0
votes             0
languages         0
directors         7
actors            0
runtime         403
dtype: int64

#### Penanganan 'description'

In [25]:
movies['description']

0       Ayudia (Mawar De Jongh) is not satisfied enoug...
1       Sara, Airin, Rachel, and Amara were accidental...
2       After apparent death, Siena is able to see sig...
3       Good Morning Indonesia, a school for poor orph...
4       Alfi (Al Ghazali) meets Alana (Caitlin Halderm...
                              ...
1267    Set in the 1930s, and narrated like a ballad f...
1268    Depicting the celebrated recapture of the town...
1269    It tells the story of an Indonesian revolution...
1270                                                  NaN
1271                                                  NaN
Name: description, Length: 1272, dtype: object

In [26]:
# kolom 'description' kita hapus (karena tidak akan digunakan)
# param axis => menentukan baris (nol) atau kolom (1) yang akan dihapus
# param inplace => menimpa data yang sebelumnya jika True
movies.drop('description', axis=1, inplace=True)
movies.columns

Index(['title', 'year', 'genre', 'rating', 'users_rating', 'votes',
       'languages', 'directors', 'actors', 'runtime'],
      dtype='object')

#### Penanganan 'genre'

In [ ]:
# Menangani missing value di kolom genre
# Karena genre bertipe data kategorikal, maka penanganan missing valuenya menggunakan nilai modus
movies['genre'].value_counts()

Drama        456
Comedy       287
Horror       231
Action       132
Adventure     49
Biography     28
Thriller      12
Romance       11
Fantasy       10
Crime          9
Animation      4
Sci-Fi         2
Family         2
War            2
History        1
Name: genre, dtype: int64

In [ ]:
# Karena genre yang paling banyak adalah 'Drama', maka isi missing valuenya dengan 'Drama'
movies['genre'] = movies['genre'].fillna("Drama")
movies['genre']

0       Biography
1        Thriller
2          Horror
3       Adventure
4           Drama
          ...
1267        Drama
1268        Drama
1269        Drama
1270    Adventure
1271      Fantasy
Name: genre, Length: 1272, dtype: object

#### Penanganan 'rating'

In [ ]:
movies['rating']

0       13+
1       17+
2       13+
3       13+
4       17+
       ...
1267    NaN
1268    NaN
1269    NaN
1270    NaN
1271    NaN
Name: rating, Length: 1272, dtype: object

In [ ]:
movies['rating'].value_counts()

13+          161
17+           93
SU            39
D             25
R             23
Not Rated     18
21+            8
TV-MA          4
TV-14          2
PG-13          2
Unrated        1
Name: rating, dtype: int64

In [ ]:
movies['title']

0            #FriendButMarried 2
1                       4 Mantan
2       Aku Tahu Kapan Kamu Mati
3                    Anak Garuda
4                      Dignitate
                  ...
1267       The Tiger from Tjampa
1268         Enam Djam di Djogja
1269               Darah dan Doa
1270           Resia Boroboedoer
1271          Loetoeng Kasaroeng
Name: title, Length: 1272, dtype: object

#### Penanganan 'directors'

#### Penanganan 'runtime'